<div class="titulo">
  <mat-icon>filter_alt</mat-icon>
  <span>Filtros</span>
</div>
<app-base-list-filter (eventFilter)="onFiltrar($event)"></app-base-list-filter>
<div class="container">
  <div class="carregando" *ngIf="base_carregando"> 
    <span>Carregando...</span>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <table class="tabela" *ngIf="!base_carregando">
    <tr>
      <th id="add" (click)="onAdd()" matTooltip="Novo"><mat-icon>add</mat-icon></th>
      <th id="codigo">Código</th>
      <th id="descricao">Descrição</th>
      <th id="ativo">Ativo</th>
    </tr>
    <tr class="item" *ngFor="let filtro of list">
      <td id="edit" matTooltip="Opções"[matMenuTriggerFor]="openAction"><mat-icon>more_vert</mat-icon></td>
      <td id="codigo">{{filtro.codigo}}</td>
      <td id="descricao">{{filtro.descricao}}</td>
      <td id="ativo"><mat-icon>{{iconCheck(filtro.ativo)}}</mat-icon></td>
      <mat-menu #openAction="matMenu" yPosition="above">
        <button mat-menu-item (click)="onEdit(filtro)"><mat-icon>edit</mat-icon> Editar</button>
        <button mat-menu-item disabled="true" (click)="onDelete(filtro)"><mat-icon>delete</mat-icon>Excluir</button>
      </mat-menu>
    </tr>
  </table>
</div>