<div class="container">
    <div class="filtro">
        <button class="btn-filter" *ngIf="canFilter" (click)="onFilterShow()"><mat-icon>filter_alt</mat-icon></button>
    </div>
    <div class="pesquisa">
            <mat-icon>search</mat-icon>
        <input class="txt-pesquisa" type="text" placeholder="Pesquisa rápida" [(ngModel)]="txt_pesquisa" (ngModelChange)="onFilterList()">
        <div class="btn-clear">
            <button *ngIf="can_clear" (click)="onClear()"><mat-icon>clear</mat-icon></button>
        </div>
    </div>
</div>