/* @import url("../../../../../../styles/_base-button.css"); */
/* @import url("../../../../../../styles/_base-edit.css"); */

mat-divider {
    margin: 10px 10px;    
}

.combo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.combo button {
    border-style: none;
    background: transparent;
    padding: 10px;
}

.btn-remove {
    cursor: pointer;
}

.codigo mat-form-field {
    width: 90px;
}

.descricao mat-form-field {
    width: 250px;
}

.marketplace {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #aeaeae;
    border-radius: 5px;
    border-width: 1px;
    width: 250px;
    height: 60px;
    margin: 12px;
    padding: 10px;
}