@import url("../../../../../styles/_base-list.css");

.text {
    text-align: center;
}

.curr {
    text-align: right;
}

.date {
    text-align: center;
}

.code {
    text-align: center;
}

.butt {
    padding: 1px;
}

/* .tabela{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
} */