mat-divider {
    margin: 10px 10px;    
}

.container {
    background-color: #fff;
}

.titulo {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #46277c;
    color: #fff;
}

.titulo mat-icon {
    margin-right: 10px;
}

.btn-voltar {
    height: 100%;
    cursor: pointer;
    border-style: none;
    background: transparent;    
    color: #fff;
}

.btn-voltar:hover {
    background: #552e99;
}

.form {
    margin: 10px;
}

.grupo-label {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana, sans-serif';
    color: #424242;
}

.grupo-label2 {
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana, sans-serif';
    color: #303030;
}

.grupo label {
    font-size: 16px;
    color: #673ab7;
}

.sub-grupo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.sub-grupo-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}