mat-divider {
    margin: 10px 10px;    
}

.container {
    background-color: #fff;
    padding: 5px;
}

.titulo {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #46277c;
    color: #fff;
    -webkit-box-shadow: 2px 2px 3px rgba(125, 125, 125, 0.77);
    -moz-box-shadow:    2px 2px 3px rgba(125, 125, 125, 0.77);
    box-shadow:         2px 2px 3px rgba(125, 125, 125, 0.77);    
}

.titulo mat-icon {
    margin-right: 10px;
}

.btn-voltar {
    height: 100%;
    cursor: pointer;
    border-style: none;
    background: transparent;    
    color: #fff;
}

.btn-voltar:hover {
    background: #552e99;
}

.form {
    margin: 10px;
}

.mat-dialog-container {
    background-color: #303030;
}

/* .grupo {
    padding: 10px;
} */

.grupo-label {
    padding: 5px;
    background-color: #303030;
    color: #fff;
}

.grupo label {
    font-size: 16px;
    color: #673ab7;
}

.sub-grupo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.sub-grupo-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}