mat-divider {
    margin:  0px 20px;
}

.titulo {
    margin: 10px 20px;
    font-size: 16px;
}

.filtros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.field {
    margin: 5px 10px;
}

.valores {
    margin-left: 10px;
}

.grupo {
    display: flex;
    flex-wrap: wrap;
}

.valor-lista {
    margin-top: 6px ;
}

.valor-padrao-texto {
    margin-top: 10px;
}

.valor-padrao-sim-nao {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 11px;
}

.valor-padrao-sim-nao label {
    margin: 5px 5px;
    font-size: 11px;
}

.valor-padrao-decimal {
    text-align: right;
}

mat-radio-button {
    margin-left: 16px;
}
