<div class="container">
    <button class="btn-carregar" (click)="onCarregar()">Carregar Teste</button>
    <div class="list">
        <div class="item" *ngFor="let item of categorias;let i = index">
            <div class="codigo">
                <span class="caption">Código : </span>
                <span class="field">{{item.codigo}}</span>
            </div>
            <div class="descricao">
                <span class="caption">Descrição : </span>
                <span class="field">{{item.descricao}}</span>
            </div>
        </div>
    </div>
</div>