mat-sidenav {
  background-color: #fff;
}

mat-divider {
  margin: 10px 0px 10px 0px;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  align-items: center;
}

.nav .title {
  cursor: pointer;
}

.nav .subtitle {
  font-size: 13px;
  margin-top: -10px;
  color: #673ab7;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

.menu-action:hover {
  color: rgb(103 58 183);
}

.menu-logout:hover {
 background-color:#673ab7;
}

.mat-drawer {
  box-shadow: 3px 0px 13px 0px rgb(150 150 150 / 77%);
}

.logout {
  display: flex;
  align-items: center; 
  font-size: 16px;
  padding: 0 24px;
  height: 50px;
}

.logout:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.logout mat-icon {
  margin-left: 5px;
}