<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="nav">
        <span class="title" (click)="onHome()">VYA online</span>
        <span class="subtitle">E-commerce</span>
      </div>
    </mat-toolbar>
    <div class="list-menu">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let menu of menuLinks"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{menu.caption}}
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item *ngFor="let sub of menu.submenus" (click)="onRouterLink(menu, sub)" routerLinkActive="active">{{sub.caption}}</a>
              </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
    </div>
    <mat-divider></mat-divider>
    <div class="logout" (click)="onLogout()"> 
      <span routerLinkActive="active">Sair</span><mat-icon>exit_to_app</mat-icon> 
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{base_title}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
