<div class="menu">
    <button (click)="onClose()"><mat-icon>close</mat-icon></button>
</div>
<div class="container1">
    <div class="titulo">
        <label>Categorias Marketplace</label>
    </div>
    <div *ngIf="base_carregando" class="carregando">
        <mat-spinner></mat-spinner>
    </div>
    <mat-divider class="titulo-divider"></mat-divider>
    <div class="categorias">
        <mat-dialog-content class="scroll">
            <app-base-tree-select
                [baseViews]="categoriasViews"
                tipo="radion"
                (eventSelected)="onSeleciona($event)"
                (eventCarregarFilhos)="onCarregarFilhos($event)">
            </app-base-tree-select>
        </mat-dialog-content>
    </div>
</div>