<div class="titulo">
    <mat-icon>local_offer</mat-icon>
    <span>Produtos</span>
</div>
<app-base-list-filter (eventFilter)="onFiltrar($event)"></app-base-list-filter>
<div class="container">
    <div class="carregando" *ngIf="base_carregando"> 
        <span>Carregando...</span>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="produtos" *ngIf="!base_carregando">
        <div class="produto"*ngFor="let produto of list">
            <div class="esquerda">
                <div class="foto">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_2X_681024-MLB46169926300_052021-F.webp">
                </div>
                <div class="codigo">
                    <button class="btn edit" (click)="onEdit(produto)"><span>001010001</span></button>                    
                </div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="detalhe">
                <div class="grupo">
                    <div class="field categoria">
                        <span class="label">Categoria Principal</span>
                        <span class="txt">{{produto.categoriaPrincipal.descricao}}</span> 
                    </div>  
                    <div class="field modelo">
                        <span class="label">Modelo</span>
                        <span class="txt">{{produto.modelo}}</span> 
                    </div>                       
                </div>
                <div class="grupo">
                    <div class="field marca">
                        <span class="label">Marca</span>
                        <span class="txt">{{produto.marca.descricao}}</span> 
                    </div>    
                </div>  
                <div class="grupo">
                    <div class="field descricao">
                        <span class="label">Descrição Reduzida</span>
                        <span class="txt">{{produto.descricaoReduzida}}</span> 
                    </div>
                </div>                
                <div class="grupo">
                    <div class="field preco">
                        <span class="label">Preço</span>
                        <span class="txt">{{produto.precoCheio| currency: 'R$ '}}</span>
                    </div>    
                    <div class="field preco_cheio">
                        <span class="label">Preço Por</span>
                        <span class="txt">{{produto.precoPor| currency: 'R$ '}}</span>
                    </div>             
                </div>  
            </div>

            <!-- <div class="foto">
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_681024-MLB46169926300_052021-F.webp">
            </div>
            <mat-divider></mat-divider>
            <div class="detalhes">
                <div class="field categoria">
                    <span class="label">Categoria Principal</span>
                    <span class="txt">{{produto.categoriaPrincipal.descricao}}</span> 
                </div>          
                <div class="grupo">
                    <div class="field marca">
                        <span class="label">Marca</span>
                        <span class="txt">{{produto.marca.descricao}}</span> 
                    </div>    
                    <div class="field modelo">
                        <span class="label">Modelo</span>
                        <span class="txt">{{produto.modelo}}</span> 
                    </div>             
                </div>                          
                <div class="field descricao">
                    <span class="label">Descrição Reduzida</span>
                    <span class="txt">{{produto.descricaoReduzida}}</span> 
                </div>
                <div class="grupo">
                    <div class="field preco">
                        <span class="label">Preço</span>
                        <span>{{produto.precoCheio| currency: 'R$ '}}</span>
                    </div>    
                    <div class="field preco_cheio">
                        <span class="label">Preço Por</span>
                        <span>{{produto.precoPor| currency: 'R$ '}}</span>
                    </div>             
                </div>                 
                               
            </div> -->
        </div>
    </div>
</div>