<div class="titulo">
    <mat-icon>local_offer</mat-icon>
    <span>Produtos</span>
</div>
<app-base-list-filter [canFilter]="true" [baseFilters]="baseFilters" (eventFilter)="onPesquisar($event)" (eventFilterShow)="onFiltrar($event)" (eventQuery)="onQuery()"></app-base-list-filter>
<div class="container">
    <div class="carregando" *ngIf="base_carregando"> 
        <span>Carregando...</span>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="produtos" *ngIf="!base_carregando">
        <div class="produto" [id]="baseItemDetaque(produto.codigo)"  *ngFor="let produto of list">
            <div class="esquerda">
                <div class="foto">
                    <img src="{{(produto.urlImagem == null) ? imgSemfoto : produto.urlImagem}}" 
                         onerror="this.src='../../../../../assets/images/image_not_found.png'">
                </div>
                <div class="codigo">
                    <button class="btn edit" (click)="onEdit(produto)">
                        <mat-icon>more_vert</mat-icon>
                        <span>{{  ("00000" + produto.codigo).slice(-5) }}</span>
                    </button>                    
                </div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="detalhe">
                <div class="grupo">
                    <div class="field categoria">
                        <span class="label">Categoria Principal</span>
                        <span class="txt">{{getCategoriaPrincipalDescricao(produto)}}</span> 
                    </div>  
                    <div class="field modelo">
                        <span class="label">Modelo</span>
                        <span class="txt">{{produto.modelo}}</span> 
                    </div>                       
                </div>
                <div class="grupo">
                    <div class="field marca">
                        <span class="label">Marca</span>
                        <span class="txt">{{getMarcaDescricao(produto)}}</span> 
                    </div>    
                </div>  
                <div class="grupo">
                    <div class="field descricao">
                        <span class="label">Descrição Reduzida</span>
                        <span class="txt">{{produto.descricaoReduzida}}</span> 
                    </div>
                </div>                
                <div class="grupo">
                    <div class="field preco">
                        <span class="label">Preço</span>
                        <span class="txt">{{produto.precoCheio| currency: 'R$ '}}</span>
                    </div>    
                    <div class="field preco_cheio">
                        <span class="label">Preço Por</span>
                        <span class="txt">{{produto.precoPor| currency: 'R$ '}}</span>
                    </div>             
                </div>  
            </div>
        </div>
    </div>
    <app-base-pagination class="paginacao" [paginacao]="base_paginacao" (eventPaginar)="onPaginar($event)" ></app-base-pagination>
</div>