
ul {
    list-style-type: none;
}

.tree-raiz {
    margin-left: -25px;
}

.tree-pai {
    display: flex;
    align-items: center;
    margin: 20px 5px;
    padding: 5px 0px;
    /* -webkit-box-shadow: 2px 2px 5px rgba(125, 125, 125, 0.77);
    -moz-box-shadow:    2px 2px 5px rgba(125, 125, 125, 0.77);
    box-shadow:         2px 2px 5px rgba(125, 125, 125, 0.77);   */
}

.tree-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tree-carregamento {
    margin: 0px 30px;
}

/* .par {
    background-color: rgb(240, 240, 240);
} */

.tree-btn {
    display: flex;
    align-items: center;
    border-style: none;
    background: transparent;
    padding: 5px;
    cursor: pointer;
}

.tree-btn span {
    font-size: 16px;
}

.tree-options {
    display: flex;
    cursor: pointer;
    align-items: center;
    border-style: none;
    background: transparent;
}

.tree-options:hover {
    transform: scale(1.2);
}

.btn-select {
    border-style: none;
    background: transparent;
    color: gray;
}

.btn-select:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: blueviolet;
}